.bg-primary {
    background-color: #FFDD57;
    border-color: transparent;
}

.button:hover {
    border-color: transparent;
}

.color-primary {
    color: #FFDD57;
}

.full {
    height: 100vh;
}

.full2 {
    height: calc( 100vh - 60px);
}

html {
    overflow-y: auto
}

.center {
    text-align: center
}

.noflex {
    display: inline-block !important;
}